<section id="introduction">
  <section
    data-background-image="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjVoaHR0ZHhjaHBua2MzbmdwY3piOGRvY29qdTR4bTExOGRzMGR2aCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/804TNmnYLfNao/giphy.gif"
    data-background-size="10rem"
    data-background-repeat="repeat"
  >
    <h1 style="font-size: 3rem; text-transform: none; color: black">
      My take on memes...
    </h1>
    <p>
      <span
        class="animate__animated animate__fadeIn fragment"
        style="font-size: 2rem; text-transform: none; color: black"
        >unprofessional presentation</span
      >
      <span
        class="animate__animated animate__fadeIn fragment"
        style="font-size: 2rem; text-transform: none; color: black"
        >by:</span
      >
    </p>
  </section>
  <section
    data-background-image="https://i.pinimg.com/736x/81/37/81/813781eea9444801a9703965613782e7.jpg"
  >
    <h1 style="font-size: 3rem; text-transform: none; color: black">
      <a href="https://www.instagram.com/r3yanson/" target="_blank">me</a>
    </h1>
  </section>
</section>